body {
  background-color: #121212;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: "Open Sans", "Roboto", sans-serif;
}

.button:link,
.button:visited {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 10px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover,
.button:active {
  background-color: darkslategray;
  color: gold;
  border: gold solid 1px;
}
.back {
  text-decoration: none;
  color: white;
  font-size: 16px;
  text-align: center;
}
.back:hover {
  text-decoration: underline;
}
.foto {
  height: 50vh;
  width: 80vh;
  float: right;
  border: solid white 2px;
  opacity: 0.7;
}
